[submodule "vendor/howler.js"]
	path = vendor/howler.js
	url = https://github.com/goldfire/howler.js.git
[submodule "vendor/tween.js"]
	path = vendor/tween.js
	url = https://github.com/sole/tween.js.git
